.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  float: left;
}

.App-header {
  background-color: #222;
  /* height: 150px; */
  padding: 1px;
  color: white;
  /* margin-bottom: 80px */
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
/* 
.testName{
  color: bisque;
}
.testUrl{
  color: blueviolet
}

.testPrice{
  font-style: italic;
  color: chocolate
}

.listItem{
  border: 1px solid darkgreen;
  padding: 7px;
  background-color: darkkhaki;
}

.container{
  width: fit-content;
  align-content: center;
  margin: 0 auto;
  padding: 15px;
  border: 2px dashed indianred;
  overflow: scroll;
  max-height: 250px;
}

.App ol{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
} */

.container{
  padding: 50px 90px;
}

.wishListContainer{
  float: left;
}

.searchCompContainer{
  float: right;
}

.searchList{
  list-style-type: none;
}