.listItem{
    border: 2px solid black;
    padding: 5px;
    background-color: lightsalmon;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-around;
    height: 100px;
}

/* 
.itemName{
    float:left;
}

.itemPrice{
    float:right;
}
 */
 .itemPic{
    /* width: 100px; */
    /* float: left; */
    /* margin-right: 5px; */
    height: 100px;

}

button{
    /* position: relative; */
    /* bottom: 42px; */
    background-color: green;
    color: whitesmoke;
    /* float: right; */
}

.deleteButton{
    background-color: red;
    color: black;
}